.container{
    background: #FFDC00;
    padding: 8px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.button {
    padding: 4px;
    line-height: 16px;
    background-color: #85144b;
    border: 1px solid #333;
    margin: 0 4px;
}

.button:disabled{
    background-color: darkgrey;
    color: #000;
}

.page-info {
    color: #FFF;
    padding: 4px;
}

.even {
    background-color: forestgreen;
   
}

.odd {
    background-color: firebrick;
}