body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg-dark {
  background-color: #333;
  color: #FFF;
}

.bg-dark a{
  color: rgb(238, 158, 158);
  font-weight: bold;
  text-decoration: none;
}

.bg-light {
  background-color: #FFF;
  color: #333;
}

.MyTinyWeb {
  width: 256px;
  min-height: 256px;
  border: 1px solid #333;
  margin: 0 auto;
  margin-top: 256px;
  padding: 16px;
}

ul {
  padding: 0;
}

ul li {
  margin-bottom: 8px;
  list-style: none;
}